<article class = "contacts">
  <a href="https://github.com/Pronomuos" title="github">
    <img src="./img/github.png" alt="github" width="40px" height="40px"></a>
  <a href="https://vk.com/id323261184" title="vk">
    <img src="./img/vk.png" alt="vk" width="40px" height="40px"></a>
  <a href="https://t.me/pronomuos" title="telegram">
    <img src="./img/tg.png" alt="telegram" width="40px" height="40px"></a>
</article>
<div id="time">{{ time }}</div>