<div class="title">
  <h1>Reshetnikov Roman</h1>
</div>
{{> auth }}
<div class="nav-bar">
  <nav>
    <a href="/"><span class="link">CV</span></a>
    <a href="/blog"><span class="link">Blog</span></a>
    <a href="/slider"><span class="link">Slider</span></a>
    <a href="/todo_list"><span class="link">Todo list</span></a>
    <a href="/chat"><span class="link">Chat</span></a>
  </nav>
</div>