<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Blog</title>

  <link rel="stylesheet" href="./css/blog.css">
  {{> style_bundles }}
  <script src="./js/blog.js"></script>
  {{> shared_scripts }}
</head>
<body>
<header>
  {{> header }}
</header>
<main id="main">
  <div id="preloader" class="visible"></div>
</main>
<footer>
  {{> footer }}
</footer>
</body>
</html>