body {
    margin: 0;
    font-family: Times, Times New Roman, Georgia, serif;
    font-size: 16px;
    line-height: 1.8em;
    word-spacing: 1px;
}

article {
    padding:0 1em;
}

main section{
    margin: 1em;
    padding: 1em;
}

.profile_img {
    float: left;
    width: 25%;
    height: 25%;
    border: 5px solid #2493c7;
}

h3 {
    text-transform: uppercase;
}

h3, h4 {
    font-weight: bold;
}

main {
    max-width: 1140px;
}

.block {
    display: flex;
}

.column {
    max-width: 50%;
}

#hidden_quote {
    display: none;
}

