.carousel {
    background: #FAFAFA;
}

.carousel-cell {
    width: 25%;
    height: 200px;
    margin-right: 10px;
    background: #174cab;
}

.carousel-cell-image {
    display: block;
    max-height: 100%;
    margin: 0 auto;
    max-width: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

header {
    padding: 6em 8em 4em;
    color: #ffffff;
}